<launch>
    <!-- <arg name="$PROJTurtleBOt_Gazebo/catkin_ws/src/my_nodes/res/map_tmp"/> -->
    <!-- <arg name="map_name"/>   -->
    <node pkg="map_server" type="map_saver" name="map_saver" 
        args="-f 
        /home/james/Documents/Programming/Robot/TurtleBOt_Gazebo/catkin_ws/src/my_nodes/res/map_tmp"
         output="screen"/>
        <!-- args="-f $(arg map_name)" output="screen"/> -->
    
</launch>